
.container {
    display: flex;
    justify-self: center;
    width: 40%;
    background-color : #555;
    flex-flow: column;
  }
  
  .header,
  .footer {
    background-color: #555;
    padding: 1rem;
    display: flex;
    justify-self: center;
    line-height: 2rem;
    border-bottom: 1px solid #444;
    form {
      display: flex;
      width: 100%;
    }
    button {
      &.disabled {
        background-color: #666;
      }
      margin-left: 2rem;
    }
  }
  .btn{
    margin: 0rem !important;
  }
  .body {
    min-height: 30rem;
    max-height: 40rem;
    background-color: #454545;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    & .viewer {
      display: flex;
      flex-direction: column;
      flex: none;
      & .message {
        width: 90% !important;
        display: flex;
        flex-flow: row;
        color: #fff !important;
        & .content {
          padding: .75rem;
          min-height: 2rem;
          margin-left: .5rem;
          margin-right: .5rem;
          background-color: #63CCCA;
          display: flex;
          flex: 1;
          margin: 5px;
          //   &.others {
          //     align-self: flex-end;
          //     background-color: rgb(69, 128, 103);
          //   }
        }
        &.others {
          & .content {
            align-self: flex-end;
            background-color: rgb(69, 128, 103);
          }
          flex-direction: row-reverse;
          align-self: flex-end;
        }
        & .badge {
          border-radius: 50%;
          background-color: #888;
          width: 3.5rem;
          height: 3.5rem;
          text-align: center;
          line-height: 3.5rem;
          font-size: 1.5rem;
          font-size: 75% !important;
          color: #fff !important;
        }
      }
    }
  }
  