<div class="text-center d-flex justify-content-center" *ngFor="let offer of resultsPubs">
  <form (ngSubmit)="onSubmit(offer)" *ngIf="offer" #form="ngForm">

    <div class=" " style="margin-bottom: 10px;">
      <p-card header="Advanced Card" subheader="Subheader" styleClass="ui-card-shadow">
        <p-header>
          <img src="Card" src="{{offer.picture}}" class="card-img-top">
        </p-header>
        <div class="text-center">
          <table class="table table-responsive text-center">
            <tr class=" text-center">
              <td rowspan="2">
                <div id="weather">
                  <nb-card size="xsmall">
                    <nb-card-body>
                      <div class="location">
                        <span>{{offer.city}}</span>
                      </div>
                      <div class="date">
                        <span>{{offer.chekInDate}}</span>
                      </div>
                      <div class="daily-forecast">
                        <div class="info">
                          <div class="temperature">
                            <span>{{offer.weather.temp}}</span>
                          </div>
                          <div>
                            <img width="100%" height="100%" src="https://openweathermap.org/img/w/{{offer.weather.icon}}.png"
                              class="img-thumbnail">
                          </div>
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </td>
              <td>
                <i class="fa fa-usd"></i>
                <p> <b>{{offer.roomPrice}}</b></p>
              </td>
              <td>
                <i class="fa fa-map-marker"></i>
                <p>{{offer.city}}</p>
              </td>
              <td>
                <i class="fa fa-calendar"></i>
                <p>{{offer.chekInDate}} - {{offer.checkOutDate}}</p>
              </td>
              <td *ngIf="offer.nbPers">
                <i class="fa fa-users"></i>
                <p> {{offer.abonnes.length || JSON}} / {{offer.nbPers}} </p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td *ngIf="offer.hotelContacts.tel">
                <i class="fa fa-phone"></i>
                <p>{{offer.hotelContacts.tel}} </p>
              </td>
              <td *ngIf="offer.hotelContacts.email">
                <i class="fa fa-at"></i>
                <p>{{offer.hotelContacts.email}} </p>
              </td>

              <td *ngIf="offer.hotelContacts.url">
                <i class="fa fa-link"></i>
                <p>{{offer.hotelContacts.url}}</p>
              </td>

            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button  *ngIf="isValid(offer.pub_id)" type="submit" [class.btn-pulse]="submitted" class="btn btn-danger btn-round">
                  <i class="fa fa-share"></i> Join This Travel
              </button>
              </td>
              <td></td>
              <td></td>
            </tr>
          </table>

        </div>
        <p-footer>
          <mat-expansion-panel (opened)="loadComment()"  (closed)="loadComment()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Comments
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-comment *ngIf="loadCommentAllowed" pub_id="{{offer.pub_id}}" image_url="{{profile_img_url}}"></app-comment>
          </mat-expansion-panel>
        </p-footer>
      </p-card>
    </div>
  </form>
  <hr />
</div>